.node--unpublished{background-color:#fff4f4;}
.card{display:flex;margin-bottom:40px;flex-direction:row;padding:50px 100px;border-top:1px solid;border-bottom:1px solid}.card__image{flex:40%;margin-right:20px}.card__image img{width:100%}.card__content{flex:60%}.card__content h4{margin-top:0}
