.node--unpublished{background-color:#fff4f4;}
body{margin:0}.card{display:flex;margin-bottom:40px;flex-direction:row;padding:50px 100px;border-top:1px solid}.card__image{flex:40%;margin-right:20px}.card__image img{width:100%}.card__content{flex:40%}.card__content h4{margin-top:0}.card__meta{display:flex;align-items:center;justify-content:center;flex:20%}
